.App {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title {
  margin-top: 20rem;
  background-color: red($color: #000000);
}

.Emojis {
  letter-spacing: 2px;
  margin-top: 10px;
  text-align: center;
}
.form {
  color: green;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.card {
  width: 100px;
}
